
#button {
	background-color: #B0E0E6;
	font-family: 'Lobster Two', cursive;
	font-size: 18px;
}

#fancyscript {
	font-family: 'Lobster Two', cursive;
	font-size: 40px;
	color: #2A7AAA;
}

#entryContent {
	background-color: #d8f0f3;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	height: 100px;
	width: 500px;

}

#serif {
	font-family: 'Abel', sans-serif;
}
	
#abel2 {
	font-family: 'Abel', sans-serif;
	font-size: 18px;
}

#content {
	font-family: 'Abel', sans-serif;
	font-size: 16px;
}